# Mac
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# Notebook checkpoints
.ipynb_checkpoints/

# Exports / generated artifacts
notebook.html
notebook.pdf
FX_hedging_report.pdf

# Presentations (usually generated)
presentation.pptx

# Misc
tree.txt
to_print/
logs.txt